
<div class="container">
  <div class="list-voyage">
    <div class="voyages" *ngFor="let favori of favoris">
      <div class="favori-items">
        <h2>{{ favori.titre }}</h2>
        <!--
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        <h2>BLABLA</h2>
        -->
      </div>
    </div>
  </div>
</div>



