<div class="contain">
  <div class="text">
    <h1>Bienvenue sur GestionVoyage !</h1>
    <p> Découvrez de nouveaux voyages passionnants à travers la France et facilitez la gestion de vos aventures. Notre application vous permet d'explorer une variété de destinations, de les ajouter à vos favoris et de planifier votre prochain voyage en toute simplicité. </p>
    <p> Grâce à notre carte interactive, vous pouvez explorer les différentes régions de la France et découvrir les voyages disponibles dans chaque région. Que vous soyez attiré par les paysages pittoresques de la Provence, les châteaux majestueux de la Vallée de la Loire ou les magnifiques plages de la Côte d'Azur, vous trouverez des voyages adaptés à vos préférences. </p>
    <p> Notre objectif est de vous offrir une expérience de voyage inoubliable. Nous vous proposons une sélection soigneusement conçue de voyages uniques, mettant en valeur la richesse culturelle, la gastronomie, l'histoire et les merveilles naturelles de chaque région. </p>
    <p> N'oubliez pas de créer un compte pour pouvoir sauvegarder vos voyages préférés dans la liste des favoris. Ainsi, vous pourrez les retrouver facilement et les partager avec vos proches. </p>
    <p> Préparez-vous à vivre des expériences exceptionnelles et à explorer la diversité de la France grâce à GestionVoyage. Commencez dès maintenant votre aventure ! </p>
  </div>
</div>
